#noTestTaker 
{
	margin-top:30px;
}

#submitCertificate
{
	margin-left: 10px;
}

#btnFileUpload
{
	margin-top:25px;
}

.margin-left175
{
	margin-left:175px;
}

.certificate-container
{
	margin-left:auto; text-align:center; margin-top:40px; font-size:20px;
}

#certiTitle {
    display: block;
    font-family: fantasy;
    font-size: 22px;
    font-weight: 400;
    line-height: 327px;
    margin: 0 auto;
    text-align: center; 
}

#certiAssignTo
{
    display: block;
    font-size: 22px;
    margin: -79px auto 0;
    min-width: 300px;
    text-align: center;
}
.certificateFormDiv {
    margin: 0 auto;
    width: 90%;
}
#pdfbackground{
    width:1100px;
    height:739px;
    background: url("../img/certificate.jpg") no-repeat scroll 0 10px / cover rgba(0, 0, 0, 0);
}



#certificate1{
    background: url("../img/certificate1.jpg") no-repeat scroll 0 10px / cover rgba(0, 0, 0, 0);
}

#certificate2{
    background: url("../img/certificate2.jpg") no-repeat scroll 0 10px / cover rgba(0, 0, 0, 0); 
}

#certificate3{
    background: url("../img/certificate3.jpg") no-repeat scroll 0 10px / cover rgba(0, 0, 0, 0);
}
#title,#assignedTo,#certiTitle,#certiAssignTo
{text-transform:capitalize;
}
